.copyright {
  background-color: $color-default-gray;
  padding: 30px 0;
}

.copyright__container {
  min-height: 62px;
  display: flex;
  justify-content: space-between;
  align-items: center;

  span,
  a {
    text-align: center;
  }

  a:hover {
    color: $color-default-green;
  }

  @media (max-width: 900px) {
    flex-direction: column;
  }
}
