.main-nav {
  position: relative;
  z-index: 1;
}

.main-nav__list {
  @include list-default;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 80px;
  gap: 10px;
  flex-wrap: wrap;
}

.main-nav__link {
  &:hover {
    color: $color-default-green;
  }
}
