.super-offer {
  background-color: $color-default-green;
  color: $color-default-white;

  @media (max-width: 1920px) {
    min-height: 33vw;
    padding-bottom: 20px;
  }
}

.super-offer__title {
  font-weight: 700;
  font-size: 48px;
  line-height: 56px;

  @media (max-width: 800px) {
    font-size: 26px;
    line-height: 26px;
  }
}

.super-offer__wrapper-description {
  max-width: 310px;
}

.super-offer__container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.super-offer__wrapper-img {
  position: relative;
  margin-right: 68px;

  @media (max-width: 1700px) {
    margin: 0;
  }

  &::before,
  &::after {
    content: "";
    position: absolute;
    right: 0;
    top: 0;
    bottom: 0;
    margin: auto;
    border-radius: 50%;
  }

  &::before {
    width: 147%;
    height: 147%;
    left: -17%;
    background: rgba(255, 255, 255, 0.3);
  }

  &::after {
    width: 116%;
    height: 116%;
    left: -2%;
    background: rgba(255, 255, 255, 0.4);
  }
}

.super-offer__img {
  position: relative;
  z-index: 1;
}
